#pesquisar_aluno {
    padding: 25px 0px 15px 120px;
    background: #ff7f26;
}

#frm-pesquisa > input,button {
    padding: 5px 5px;
}
#frm-pesquisa > input {
    width: 30%;
}
#frm-pesquisa button {
    outline: none;
    cursor: pointer;
    background: none;
    color: #f8f8f8;
}

#tabela_de_alunos {
    width: 100%;
    margin-top: 40px;
    border-collapse: collapse;
}
#tabela_de_alunos > thead {
    background: #293F76;
    box-sizing: border-box;
}
#tabela_de_alunos > thead > tr > td {
    border-left: 1px solid #f8f8f8;   
    color: #f8f8f8;
    padding: 10px;
}

#tabela_de_alunos > thead > tr > td:first-child {
    border-left: 0px;
}

#tabela_de_alunos > tbody > tr {
    border-bottom: 1px solid #293F76;
}
#tabela_de_alunos > tbody > tr > td {
    padding: 10px 0px;
    padding-left: 7px ;
}
#tabela_de_alunos > tbody > tr > td:last-child {
    text-align: center;
}
#deletar > img{
    width: 25px;
}
